<div class="section__body">
    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Essential for occupations" relationType=ESSENTIAL_SKILL_IRI conceptScheme=occupationScheme type='occupation' transitionToCreate="transitionToCreate"}}
    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Optional for occupations" relationType=OPTIONAL_SKILL_IRI conceptScheme=occupationScheme type='occupation' transitionToCreate="transitionToCreate"}}


    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Essential for skills" relationType=ESSENTIAL_SKILL_IRI skillType=SKILL_SKILL_IRI conceptScheme=skillScheme type='skill' transitionToCreate="transitionToCreate"}}
    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Optional for skills" relationType=OPTIONAL_SKILL_IRI skillType=SKILL_SKILL_IRI conceptScheme=skillScheme type='skill' transitionToCreate="transitionToCreate"}}

    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Essential for knowledges" relationType=ESSENTIAL_SKILL_IRI skillType=KNOWLEDGE_SKILL_IRI conceptScheme=skillScheme type='knowledge' transitionToCreate="transitionToCreate"}}
    {{inverse-relation-element concept=object inverseRelations=inverseRelations title="Optional for knowledges" relationType=OPTIONAL_SKILL_IRI skillType=KNOWLEDGE_SKILL_IRI conceptScheme=skillScheme type='knowledge' transitionToCreate="transitionToCreate"}}
</div>
